{% extends 'blog/base.html' %}
{% load blog_tags %}

{% block content %}
<div style="min-height: 100vh; width: 100%;">
    <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
            {% for post in favorite_posts %}
            <li data-target="#carousel-example-2" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active"
                {% endif %}></li>
            {% endfor %}
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox" style="min-height: 100vh;">
            {% for post in favorite_posts %}
            <div {% if forloop.first %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
                <div class="view">
                    <div class="d-block w-100" style='height: 100vh; background-image: url("{{ post.image.url }}"); background-size: cover;'></div>
                    <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption carouselCustomCaption">
                    <h3 class="h3-responsive">{{ post.title }}</h3>
                    <p class="carouselCustomDescription" style="background-color: rgba(86, 86, 86, 0.6);">
                        {{ post.text|truncatewords:120}}</p>
                    <button type="button" class="btn btn-dark w-50 carouselCustomButton">Read More!</button>
                </div>
            </div>
            {% endfor %}
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
        </div>
        <!--/.Carousel Wrapper-->

    </div>

    <div class="container" style="margin-top: 40px;">
        <div class="postSection" style="margin-bottom: 50px; display: flex; justify-content: space-between; flex-wrap: wrap;">

            {% for post in posts %}
            <div class="postItem" style="background-color: #fff;">
                <div class="postImage w-100" style='height: 200px; background-image: url("{{ post.image.url }}"); background-size: cover;'>
                    <span class="bg-danger text-light" style="padding:5px; margin-left: -2px; margin-top: -3px;">New
                        Android
                        Post!</span>
                </div>
                <div class="rounded-circle author-image"></div>
                <div class="postInfo" style="margin-top: -30px; margin-left: 120px; font-size: 15px; display: flex;"><span>By:
                        <a href="#">{{ post.author }}</a></span><span class="postDate ml-auto" style="margin-right: 20px;">
                        {{ post.published_date|date:'F j' }}th, {{ post.published_date|date:'Y' }}</span></div>
                <div class="postTitle" style="margin: 10px; font-size: 24px;"><a href="{{ post.post_slug }}">{{ post.title }}</a></div>
                <div class="postCategoriez" style="font-size: 15px; margin: 10px 10px;"><span>
                        {% for tag in post.all_tags %}
                        <a href="{{ tag.slug }}">{{ tag.name }}</a>{% if not forloop.last %} | {% endif %}
                        {% endfor %}
                    </span></div>
                <div class="postDescription" style="padding: 10px;">
                    <p>{{ post.text|truncatewords:60 }}</p>
                </div>
                <div class="postFooter">
                    <a href="{{ post.post_slug }}" class="btn btn-outline-secondary" style="margin-left: 10px; margin-bottom: 10px; padding: 10px 15px;">Read
                        More!
                    </a>
                    <span class="commentButtom text-secondary" style="margin-left: 15%; font-size: 25px; color: #428bca;"><i
                            class="far fa-comments"></i> <i> 5</i></span>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    {% endblock %}