@media(max-width:992px) {
    .mdNavChange {
        display: block;
        min-width: 100%;
    }
    .mdNavHide {
        background-color: darkslateblue;
        display: none !important;
    }

    .carouselCustomCaption{
        margin-bottom: calc(65vh - 65.5px - 100px)!important;
    }

    .carouselCustomDescription{
        display: none;
    }

    .carouselCustomButton{
        margin-top: 35vh;
        width: 75%;
    }

    .postItem{
        width: 100% !important;
    }
    .postItemPage{
        width: 100% !important;
    }
 }

.customNav{
    width: 33.33%;
    display: flex;
    justify-content: center;
}

.navLogo{
    width: 100px;
}

.carouselCustomCaption{
    margin-bottom: calc(50vh - 65.5px - 100px);
    position: absolute;
    height: 200px;
    font-size: 20px;
}

.owl-theme .owl-controls .owl-page {
    display: inline-block;
}
.owl-theme .owl-controls .owl-page span {
    background: none repeat scroll 0 0 #869791;
    border-radius: 20px;
    display: block;
    height: 12px;
    margin: 5px 7px;
    opacity: 0.5;
    width: 12px;
}

.postItem{
    width: 49%;
    margin-bottom: 50px;
}

.postItemPage{
    width: 100%;
    margin-bottom: 50px;
}

.author-image{
    border: #fff 3px solid;
    width: 80px; height: 80px;
    background-image: url("../images/myAvatar.png");
    background-size: cover;
    margin-top: -40px;
    margin-left: 20px;
}